{% extends 'cms/navbar_main.html' %}
{% load static %}
{% block content %}
<!-- Content  =============================-->
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<section class="item content">
<div class="container toparea">
	<div class="underlined-title">
		<div class="editContent">

			<h1 class="text-center">Tracking ID: {{delivery.id}}</h1>

		</div>
		<div class="wow-hr type_short">
			<span class="wow-hr-h">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			</span>
		</div>

		<div class="container text-center">
			<div class="row g-3">
				<div class="col-md-6">
					<label for = "sender_name">Sender Name: </label>
					<h3 id="sender_name" class="form-group">{{delivery.sender_name}}</h1>
				</div>
				<div class="col-md-6">
					<label for = "sender_contact_no">Sender Contact Number: </label>
					<h3 id="sender_contact_no" class="form-group">{{delivery.sender_contact_no}}</h1>
				</div>
			</div>
			<br/>
			<div class="row g-3">
				<div class="col-md-6">
					<label for = "sender_email">Sender Email: </label>
					<h3 id="sender_email" class="form-group">{{delivery.sender_email}}</h1>
				</div>
				<div class="col-md-6">
					<label for = "sender_address">Sender Address: </label>
					<h3 id="sender_address" class="form-group">{{delivery.sender_address}}</h1>
				</div>
			</div>
			<br/>
			<div class="row g-3">
				<div class="col-md-6">
					<label for = "receiver_name">Receiver Name: </label>
					<h3 id="receiver_name" class="form-group">{{delivery.receiver_name}}</h1>
				</div>
				<div class="col-md-6">
					<label for = "receiver_contact_no">Receiver Contact Number: </label>
					<h3 id="receiver_contact_no" class="form-group">{{delivery.receiver_contact_no}}</h1>
				</div>
			</div>
			<br/>
			<div class="row g-3">
				<div class="col-md-6">
					<label for = "receiver_email">Receiver Email: </label>
					<h3 id="receiver_email" class="form-group">{{delivery.receiver_email}}</h1>
				</div>
				<div class="col-md-6">
					<label for = "receiver_address">Receiver Address: </label>
					<h3 id="receiver_address" class="form-group">{{delivery.receiver_address}}</h1>
				</div>
			</div>
			<br/>
			<div class="row g-3">
				<div class="col-md-12">
					<label for = "description">Description: </label>
					<h3 id="description" class="form-group">{{delivery.description}}</h1>
				</div>
			</div>
			<br/>
			<div class="row g-3">
				<div class="col-md-6">
					<label for = "date_created">Date Created: </label>
					<h3 id="date_created" class="form-group">{{delivery.date_created}}</h1>
				</div>
				<div class="col-md-6">
					<label for = "date_updated">Date Updated: </label>
					<h3 id="date_updated" class="form-group">{{delivery.date_updated}}</h1>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}